body {
	color: white;
    font-family: 'Arvo', serif;
}

#content {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: minmax(70px, 8vh) auto;
	grid-template-columns: minmax(175px, 15vw) auto;
}

.header {
    display: grid;
    justify-content: center;
    align-items: center;

	grid-area: 1 / 1 / 2 / 3;
	background-color: #121212;
}

.sidebar {
	grid-area: 2 / 1 / 3 / 2;
	background-color: #4d4d4d;
	padding: 5%;
    box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.993);

	display: grid;
	grid-template-rows: minmax(170px, 18%) 1fr;
}

.sidebar-top {
	border-bottom: 5px solid black;

	display: grid;
}

.sidebarNav {
    text-align: left;
}

ul {
    padding-left: 0;
}

ul li div:hover, ul li h3:hover {
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.05);
    color: grey;
}

ul li svg:hover {
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.05);
}

ul li::marker {
    content: none;
}

.projects-list {
	padding-top: 2%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.projects-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 24px;
}

.list-trash:hover {
    fill: red;
}

.modal-launch {
	width: 100%;
}

.modal {
	--bs-modal-color: black;
}

.modal-body {
	display: grid;
	grid-template-rows: auto;
}

.main-task {
	grid-area: 2 / 2 / 3 / 3;

	display: flex;
	flex-direction: column;
	gap: 5%;
	background-color: #737373;
	padding: 1% 5%;
    box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.993);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.993);

}

.main-task-header {
	display: grid;
	grid-template-columns: 50% 50%;

	padding-bottom: 3%;
	border-bottom: 5px solid black;
}

.main-task-list {
	display: flex;
	flex-direction: column;
	gap: 5%;
}

.task {
	display: flex;
	align-items: center;
}


//task accordions
.accordion {
	margin-top: 1% !important;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.993);
    --bs-accordion-bg: #f2f2f2;
}

.accordion:hover {
    transition: 0.5s;
    transform:translate(-10px);
}

.accordion-button {
    justify-content: space-between !important;
    align-items: center;
}

.accordion-button:after {
    content: none;
}

.accordion-item {
	width: 100% !important;
	max-width: 100% !important;
}

.accordion-body {
    display: flex;
    flex-direction: column;
    gap: 10%;

}

.accordion-body p {
	word-wrap: break-word;
}

.task-buttons {
    display: flex;
    gap: 15px;
}

.task-trash:hover,
.task-edit:hover {
	cursor: pointer;
	transition: 0.4s;
	transform: scale(1.05);
}

.task-trash:active,
.task-edit:active {
	transition: 0.4s;
	transform: scale(0.95);
}

.task-edit:hover {
    fill: #22c55e;
}

.task-trash:hover {
    fill: #dc2626;
}