body {
	color: white;
    font-family: 'Arvo', serif;
}

#content {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: minmax(70px, 8vh) auto;
	grid-template-columns: minmax(140px, 15vw) auto;
}

.header {
	grid-area: 1 / 1 / 2 / 3;
	background-color: darkblue;
}

.sidebar {
	grid-area: 2 / 1 / 3 / 2;
	background-color: darkslategrey;
	padding: 2%;

	display: grid;
	grid-template-rows: minmax(170px, 18%) 1fr;
}

.sidebar-top {
	border-bottom: 5px solid black;

	display: grid;
 /* gap: 1rem; */
}

.projects-list {
	padding-top: 5%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.modal-launch {
	width: 100%;
}

.modal {
	--bs-modal-color: black;
}

.modal-body {
	display: grid;
	grid-template-rows: auto;
}

.main-task {
	grid-area: 2 / 2 / 3 / 3;

	display: flex;
	flex-direction: column;
	gap: 5%;
	background-color: darkgray;
	padding: 1% 5%;
}

.main-task-header {
	display: grid;
	grid-template-columns: 50% 50%;

	padding-bottom: 3%;
	border-bottom: 5px solid black;
}

.main-task-list {
	display: flex;
	flex-direction: column;
	gap: 5%;
}

.task {
	display: flex;
	align-items: center;
}


//task accordions
.accordion {
	margin-top: 1% !important;
}

.accordion-button {
    justify-content: space-between !important;
    align-items: center;
}

.accordion-button:after {
    content: none;
}

.accordion-item {
	width: 100% !important;
	max-width: 100% !important;
}

.accordion-body {
    display: flex;
    flex-direction: column;
    gap: 10%;

}

.accordion-body p {
	word-wrap: break-word;
}

.task-buttons {
    display: flex;
    gap: 15px;
}

.task-trash:hover,
.task-edit:hover {
	cursor: pointer;
	transition: 0.4s;
	transform: scale(1.05);
}

.task-trash:active,
.task-edit:active {
	transition: 0.4s;
	transform: scale(0.95);
}

.task-edit:hover {
    fill: #22c55e;
}

.task-trash:hover {
    fill: #dc2626;
}